/*******************************/
/********* General CSS *********/
/*******************************/
body {
    color: #797979;
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2, 
h3{
    display: block;
    font-weight: 400;
    color: #e2f0f0
}
h4,
h5, 
h6 {
    color: #414141;
}
h5{
    font-size: 15px; /* 폰트 크기 지정 */    
    font-weight: bold; /* 폰트 굵기 지정 */    
    letter-spacing: 1px; /* 글자 사이 간격 지정 */
    line-height: 0.5; /* 줄 간격 지정 */    
    color: rgb(153, 153, 153);
    margin-left: 20px; 
}
a {
    color: #313131;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #EF233C;
    outline: none;
    text-decoration: none;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 1366px;
}

.btn {
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: #EF233C;
    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: inset 0 0 0 50px #EF233C;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}

.btn:hover {
    color: #EF233C;
    background: transparent;
    box-shadow: inset 0 0 0 0 #EF233C;
    border-color: #EF233C;
}

#loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s ease-out, visibility 0s linear .3s;
    -o-transition: opacity .3s ease-out, visibility 0s linear .3s;
    transition: opacity .3s ease-out, visibility 0s linear .3s;
    z-index: 999;
}

#loader.show {
    -webkit-transition: opacity .6s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .6s ease-out, visibility 0s linear 0s;
    transition: opacity .6s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#loader .loader {
    position: relative;
    width: 45px;
    height: 45px;
    border: 5px solid #dddddd;
    border-top: 5px solid #EF233C;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.back-to-top {
    position: fixed;
    display: none;
    width: 44px;
    height: 44px;
    padding: 8px 0;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    z-index: 9;
}

.back-to-top i {
    color: #ffffff;
}

.back-to-top:hover i {
    color: #414141;
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.navbar .navbar-brand {
    margin: 0;
    font-size: 45px;
    line-height: 0px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: .5s;
    
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        padding: 30px 60px;
        background: transparent !important;
        border-bottom: 1px dashed rgba(256, 256, 256, .2);
        z-index: 9;
    }
    
    .navbar.nav-sticky {
        padding: 10px 60px;
        background: #ffffff !important;
    }
    
    .navbar .navbar-brand {
        color: #ffffff;
    }
    
    .navbar.nav-sticky .navbar-brand {
        color: #EF233C;
    }

    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link:focus {
        padding: 10px 10px 8px 10px;
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
    }
    
    .navbar-light.nav-sticky .navbar-nav .nav-link,
    .navbar-light.nav-sticky .navbar-nav .nav-link:focus {
        color: #414141;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color: #111111;
    }
    
    .navbar-light.nav-sticky .navbar-nav .nav-link:hover,
    .navbar-light.nav-sticky .navbar-nav .nav-link.active {
        color: #EF233C;
    }
}

@media (max-width: 991.98px) {   
    .navbar {
        padding: 15px;
        background: #ffffff !important;
    }
    
    .navbar .navbar-brand {
        color: #EF233C;
    }
    
    .navbar .navbar-nav {
        margin-top: 15px;
    }
    
    .navbar a.nav-link {
        padding: 5px;
    }
    
    .navbar .dropdown-menu {
        box-shadow: none;
    }
}


/*******************************/
/********** Hero CSS ***********/
/*******************************/
.hero {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
    padding: 120px 0 0 0;
    overflow: hidden;
    background: linear-gradient(rgba(239, 35, 60, .95), rgba(239, 35, 60, .95)), url(../img/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .container-fluid {
    padding: 0;
}

.hero .hero-image {
    position: relative;
    text-align: right;
    padding-right: 75px;
}

.hero .hero-image img {
    max-width: 80%;
    max-height: 80%;
}

.hero .hero-content {
    position: relative;
    padding-left: 75px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.hero .hero-text p {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

.hero .hero-text h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.hero .hero-text h2 {
    display: inline-block;
    margin: 0;
    height: 35px;
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
}

.hero .hero-text .typed-text {
    display: none;
}

.hero .hero-text .typed-cursor {
    font-size: 35px;
    font-weight: 300;
    color: #ffffff;
}

.hero .hero-btn .btn {
    margin-top: 35px;
    color: #EF233C;
    background: #ffffff;
    box-shadow: inset 0 0 0 50px #ffffff;
}

.hero .hero-btn .btn:hover {
    color: #ffffff;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ffffff;
    border-color: #ffffff;
}

.hero .hero-btn .btn:first-child {
    margin-right: 10px;
}

@media (max-width: 991.98px) {
    .hero {
        padding-top: 60px;
    }
    
    .hero .hero-content {
        padding: 0 15px;
    }
    
    .hero .hero-text p {
        font-size: 20px;
    }
    
    .hero .hero-text h1 {
        font-size: 45px;
    }
    
    .hero .hero-text h2 {
        font-size: 25px;
        height: 25px;
    }
    
    .hero .hero-btn .btn {
        padding: 12px 30px;
        letter-spacing: 1px;
    }
}

@media (max-width: 767.98px) {
    .hero {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .hero,
    .hero .hero-text,
    .hero .hero-btn {
        width: 100%;
        text-align: center;
    }
    
    .hero .hero-text p {
        font-size: 18px;
    }
    
    .hero .hero-text h1 {
        font-size: 35px;
    }
    
    .hero .hero-text h2 {
        font-size: 22px;
        height: 22px;
    }
    
    .hero .hero-btn .btn {
        padding: 10px 15px;
        letter-spacing: 1px;
    }
}

@media (max-width: 575.98px) {
    .hero .hero-text p {
        font-size: 16px;
    }
    
    .hero .hero-text h1 {
        font-size: 30px;
    }
    
    .hero .hero-text h2 {
        font-size: 18px;
        height: 18px;
    }
    
    .hero .hero-btn .btn {
        padding: 8px 10px;
        letter-spacing: 0;
    }
}


/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    margin-bottom: 45px;
}

.section-header p {
    display: inline-block;
    margin: 0 30px;
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ffffff;
}

.section-header p::before {
    position: absolute;
    content: "";
    height: 3px;
    top: 11px;
    right: 0;
    left: -30px;
    background: #EF233C;
    z-index: -1;
}

.section-header p::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    top: 11px;
    left: 3px;
    background: #EF233C;
    z-index: 1;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 45px;
    font-weight: 700;
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}


/*******************************/
/********** About CSS **********/
/*******************************/
.about {
    position: relative;
    width: 100%;
    margin: -45px 0 45px 0;
}

.about .col-lg-6 {
    padding: 0;
}

.about .section-header {
    margin-bottom: 30px;
}

.about .about-img {
    position: relative;
    height: 100%;
}

.about .about-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .about-content {
    padding: 0 60px;
}

.about .about-text p {
    font-size: 16px;
}

.about .skills {
    margin-bottom: 30px;
}

.about .skill-name {
    margin-top: 15px;
}

.about .skill-name p {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
}

.about .skill-name p:last-child {
    float: right;
}

.about .progress {
    height: 10px;
    border-radius: 10px;
    background: #dddddd;
}

.about .progress .progress-bar {
    width: 0px;
    background: #EF233C;
    border-radius: 10px;
    transition: 2s;
}

.about .about-text a.btn {
    margin-top: 15px;
}

@media (max-width: 991.98px) {
    .about .about-content {
        padding: 45px 15px 0 15px;
    }
}


/*******************************/
/******* experience_init CSS ********/
/*******************************/
.experience_init {
    position: relative;
    padding: 45px 0 15px 0;
}

.experience_init .timeline {
    position: relative;
    width: 100%;
}

.experience_init .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #696969;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.experience_init .timeline .timeline-item {
    position: relative;
    background: inherit;
    width: 50%;
    margin-bottom: 30px;
}

.experience_init .timeline .timeline-item.left {
    left: 0;
    padding-right: 30px;
}

.experience_init .timeline .timeline-item.right {
    left: 50%;
    padding-left: 30px;
}

.experience_init .timeline .timeline-item::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 48px;
    right: -8px;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 16px;
    z-index: 1;
}

.experience_init .timeline .timeline-item.right::after {
    left: -8px;
}

.experience_init .timeline .timeline-item::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 46px;
  right: 10px;
  z-index: 1;
  border: 10px solid;
  border-color: transparent transparent transparent #dddddd;
}

.experience_init .timeline .timeline-item.right::before {
  left: 10px;
  border-color: transparent #000000 transparent transparent;
}

.experience_init .timeline .timeline-date {
    position: absolute;
    width: 100%;
    top: 44px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}
.experience_init .timeline .timeline-title { 
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;

}
.title {  
    
    font-size: 40px;
    color: #000000;
    font-weight: bolder;
}

.experience_init .timeline .timeline-item.left .timeline-date {
    text-align: left;
    left: calc(100% + 55px);
}

.experience_init .timeline .timeline-item.left .timeline-title {
    text-align: left;
    left: calc(100% + 55px);
}
.experience_init .timeline .timeline-item.right .timeline-date {
    text-align: right;
    right: calc(100% + 55px);
}

.experience_init .timeline .timeline-text {
    padding: 30px;
    background: #000000;
    position: relative;
    border-right: 5px solid #000000;
    box-shadow: 0 0 60px rgba(0, 0, 0, .08);
}

.experience_init .timeline .timeline-item.right .timeline-text {
    border-right: none;
    border-left: 5px solid #000000;
}

.experience_init .timeline .timeline-text h2 {
    margin: 0 0 5px 0;
    font-size: 22px;
    font-weight: 600;
}

.experience_init .timeline .timeline-text h4 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.experience_init .timeline .timeline-text p {
    margin: 0;
    font-size: 16px;
}

@media (max-width: 767.98px) {
    .experience_init .timeline::after {
        left: 8px;
    }

    .experience_init .timeline .timeline-item {
        width: 100%;
        padding-left: 38px;
    }
    
    .experience_init .timeline .timeline-item.left {
        padding-right: 0;
    }
    
    .experience_init .timeline .timeline-item.right {
        left: 0%;
        padding-left: 38px;
    }

    .experience_init .timeline .timeline-item.left::after, 
    .experience_init .timeline .timeline-item.right::after {
        left: 0;
    }
    
    .experience_init .timeline .timeline-item.left::before,
    .experience_init .timeline .timeline-item.right::before {
        left: 18px;
        border-color: transparent #dddddd transparent transparent;
    }
    
    .experience_init .timeline .timeline-item.left .timeline-date,
    .experience_init .timeline .timeline-item.right .timeline-date {
        position: relative;
        top: 0;
        right: auto;
        left: 0;
        text-align: left;
        margin-bottom: 10px;
    }
    
    .experience_init .timeline .timeline-item.left .timeline-text,
    .experience_init .timeline .timeline-item.right .timeline-text {
        border-right: none;
        border-left: 5px solid #dddddd;
    }
}


/*******************************/
/********* Service CSS *********/
/*******************************/
.service {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.service .service-item {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 0 0 transparent;
    transition: ease-out 0.5s;
}

.service .service-item:hover {
    box-shadow: inset 800px 0 0 0 #EF233C;
}

.service .service-icon {
    position: relative;
    width: 150px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #EF233C;
    background: #ffffff;
}

.service .service-icon i {
    position: relative;
    font-size: 60px;
    color: #EF233C;
    transition: .3s;
}

.service .service-item:hover i {
    font-size: 75px;
}

.service .service-text {
    position: relative;
    width: calc(100% - 120px);
    padding: 0 30px;
}

.service .service-text h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 1s;
}

.service .service-text p {
    margin: 0;
    font-size: 16px;
    transition: 1s;
}

.service .service-item:hover .service-text h3,
.service .service-item:hover .service-text p {
    color: #ffffff;
}

@media (max-width: 575.98px) {
    .service .service-text h3 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .service .service-text p {
        font-size: 14px;
    }
}


/*******************************/
/******** Portfolio CSS ********/
/*******************************/
.portfolio {
    position: relative;
    padding: 45px 0 15px 0;
}

.portfolio #portfolio-filter {
    padding: 0;
    margin: -15px 0 25px 0;
    list-style: none;
    font-size: 0;
    text-align: center;
}

.portfolio #portfolio-filter li {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background: #EF233C;
    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: inset 0 0 0 50px #EF233C;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}

.portfolio #portfolio-filter li:hover,
.portfolio #portfolio-filter li.filter-active {
    color: #EF233C;
    background: transparent;
    box-shadow: inset 0 0 0 0 #EF233C;
    border-color: #EF233C;
}

.portfolio .portfolio-item {
    position: relative;
}

.portfolio .portfolio-wrap {
    position: relative;
    width: 100%;
}

.portfolio .portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio .portfolio-img img {
    position: relative;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    transform: scale(1.1);
    transition: .5s;
}

.portfolio .portfolio-item:hover img {
    margin-left: 15px;
}

.portfolio .portfolio-text {
    position: relative;
    height: 60px;
    width: calc(100% - 30px);
    margin: -30px 15px 30px 15px;
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .12);
}

.portfolio .portfolio-text h3 {
    width: calc(100% - 70px);
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 0 15px;
    white-space: nowrap;
    overflow: hidden;
}

.portfolio .portfolio-text a.btn {
    width: 50px;
    height: 50px;
    padding: 0 0 2px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-weight: 100;
}

.portfolio .portfolio-item:hover a.btn {
    color: #EF233C;
    background: transparent;
    box-shadow: inset 0 0 0 0 #EF233C;
    border-color: #EF233C;
}


/*******************************/
/********* Banner CSS **********/
/*******************************/
.banner {
    position: relative;
    width: 100%;
    margin: 45px 0;
    padding: 90px 0;
    background: #EF233C;
}

.banner .container {
    max-width: 750px;
    text-align: center;
}

.banner .section-header {
    margin-bottom: 20px;
}

.banner .section-header p {
    color: #414141;
    background: transparent;
}

.banner .section-header p::after {
    display: none;
}

.banner .section-header h2 {
    color: #ffffff;
}

.banner .section-header h2 span {
    color: #414141;
    font-size: 50px;
}

.banner .banner-text p {
    font-size: 18px;
    color: #ffffff;
}

.banner .banner-text .btn {
    margin-top: 15px;
    color: #EF233C;
    background: #ffffff;
    box-shadow: inset 0 0 0 50px #ffffff;
}

.banner .banner-text .btn:hover {
    color: #ffffff;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ffffff;
    border-color: #ffffff;
}


/*******************************/
/********* Pricing CSS *********/
/*******************************/
.price {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.price .row {
    padding: 0 15px;
}

.price .col-md-4 {
    padding: 0;
}

.price .price-item {
    position: relative;
    margin-bottom: 30px;
    background: #ffffff;
}

.price .featured-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    z-index: 1;
}

.price .price-header,
.price .price-body,
.price .price-footer {
    position: relative;
    text-align: center;
}

.price .price-header {
    padding: 45px 0 30px 0;
    color: #414141;
}

.price .price-item.featured-item .price-header {
    color: #EF233C;
}

.price .price-title h2 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}

.price .price-prices h2 {
    font-size: 45px;
    font-weight: 700;
    margin-left: 10px;
}

.price .price-prices h2 small {
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    margin-top: 9px;
    margin-left: -12px;
}

.price .price-prices h2 span {
    margin-left: 1px;
    font-size: 18px;
    font-weight: 400;
}

.price .price-item.featured-item h2 {
    color: #EF233C;
}

.price .price-body {
    padding: 0 0 20px 0;
}

.price .price-description ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.price .price-description ul li {
    padding: 0 0 20px 0;
}

.price .price-item .price-action {
    padding-bottom: 45px;
}

.price .price-item .price-action .btn {
    color: #ffffff;
    background: #414141;
    box-shadow: inset 0 0 0 50px #414141;
}

.price .price-item .price-action .btn:hover {
    color: #414141;
    background: transparent;
    box-shadow: inset 0 0 0 0 #414141;
    border-color: #414141;
}

.price .price-item.featured-item .price-action .btn {
    color: #ffffff;
    background: #EF233C;
    box-shadow: inset 0 0 0 50px #EF233C;
}

.price .price-item.featured-item .price-action .btn:hover {
    color: #EF233C;
    background: transparent;
    box-shadow: inset 0 0 0 0 #EF233C;
    border-color: #EF233C;
}


/*******************************/
/*********** Team CSS **********/
/*******************************/
.team {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.team .team-item {
    position: relative;
    background: #ffffff;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: inset 0 0 0 0 transparent;
    transition: ease-out 0.5s;
}

.team .team-img {
    position: relative;
    width: 50%;
    overflow: hidden;
}

.team .team-img img {
    position: relative;
    width: 100%;
    transition: .5s;
}

.team .team-text {
    position: relative;
    width: 50%;
    padding: 0 30px;
}

.team .team-text h2 {
    color: #EF233C;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    transition: 1s;
}

.team .team-text h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
    transition: 1s;
}

.team .team-text p {
    margin-bottom: 20px;
    transition: 1s;
}

.team .team-social {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.team .team-social a.btn {
    width: 35px;
    height: 35px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: normal;
    margin-right: 5px;
}

.team .team-item:hover {
    box-shadow: inset 800px 0 0 0 #EF233C;
}

.team .team-item:hover .team-img img {
    transform: scale(1.2);
}

.team .team-item:hover .team-text h2,
.team .team-item:hover .team-text h4,
.team .team-item:hover .team-text p {
    color: #ffffff;
}

.team .team-item:hover .team-social a.btn {
    background: #ffffff;
}

.team .team-item:hover .team-social a.btn:hover {
    border-color: #ffffff;
}

@media(max-width: 575.98px) {
    .team .team-text {
        padding: 0 15px;
    }
    
    .team .team-text h2 {
        font-size: 16px;
        margin-bottom: 0;
    }

    .team .team-text h4 {
        margin-bottom: 5px;
    }

    .team .team-text p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
    }
}


/*******************************/
/******* Testimonial CSS *******/
/*******************************/
.testimonial {
    position: relative;
    margin: 45px 0;
    padding: 90px 0;
    background: #EF233C;
}

.testimonial .container {
    max-width: 900px;
}

.testimonial .testimonial-icon {
    margin-bottom: 45px;
    text-align: center;
}

.testimonial .testimonial-icon i {
    font-size: 60px;
    color: rgba(256, 256, 256, .5);
}

.testimonial .testimonial-item {
    position: relative;
    margin: 0 15px;
    text-align: center;
}

.testimonial .testimonial-img {
    position: relative;
    margin-bottom: 15px;
    z-index: 1;
}

.testimonial .testimonial-item img {
    margin: 0 auto;
    width: 120px;
    padding: 10px;
    border: 5px dotted #ffffff;
    border-radius: 100px;
}

.testimonial .testimonial-text {
    position: relative;
    margin-top: -70px;
    padding: 65px 35px 30px 35px;
    text-align: center;
    background: #ffffff;
    border-radius: 500px;
}

.testimonial .testimonial-item p {
    font-size: 18px;
    font-style: italic;
}

.testimonial .testimonial-text h3 {
    color: #EF233C;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.testimonial .testimonial-text h4 {
    color: #666666;
    font-size: 14px;
    margin-bottom: 0;
}

.testimonial .owl-dots {
    margin-top: 15px;
    text-align: center;
}

.testimonial .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(256, 256, 256, .5);
}

.testimonial .owl-dot.active {
    background: #ffffff;
}


/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
    position: relative;
    width: 100%;
    margin: 45px 0;
    background: #EF233C;
}

.contact .container-fluid {
    background: url(../img/contact.jpg) left center no-repeat;
    background-size: contain;
}

.contact .contact-form {
    position: relative;
    padding: 90px 0 90px 45px;
    background: #EF233C;
}

.contact .contact-form input {
    color: #ffffff;
    padding: 15px 0;
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(256, 256, 256, .5);
}

.contact .contact-form textarea {
    color: #ffffff;
    height: 90px;
    padding: 15px 0;
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(256, 256, 256, .5);
}

.contact .contact-form .form-control::placeholder {
    color: #ffffff;
    opacity: 1;
}

.contact .contact-form .form-control:-ms-input-placeholder,
.contact .contact-form .form-control::-ms-input-placeholder {
    color: #ffffff;
}

.contact .contact-form .btn {
    margin-top: 35px;
    color: #EF233C;
    background: #ffffff;
    box-shadow: inset 0 0 0 50px #ffffff;
}

.contact .contact-form .btn:hover {
    color: #ffffff;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ffffff;
    border-color: #ffffff;
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
    font-style: italic;
    color: #ffffff;
}

@media (max-width: 767.98px) {
    .contact .container-fluid {
        background: none;
    }
    
    .contact .contact-form {
        padding: 90px 0;
    }
}


/*******************************/
/*********** Blog CSS **********/
/*******************************/
.blog {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.blog .blog-item {
    position: relative;
    margin-bottom: 30px;
}

.blog .blog-img {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.blog .blog-img img {
    width: 100%;
    transition: .5s;
}

.blog .blog-item:hover img {
    transform: scale(1.1);
}

.blog .blog-text {
    position: relative;
    padding: 30px;
    border-right: 1px solid rgba(0, 0, 0, .07);
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    border-left: 1px solid rgba(0, 0, 0, .07);
}

.blog .blog-text h2 {
    font-size: 25px;
    font-weight: 600;
}

.blog .blog-text p {
    margin-bottom: 10px;
}

.blog .blog-item a.btn {
    margin-top: 10px;
    padding: 8px 15px;
}

.blog .blog-item a.btn i {
    margin-left: 5px;
}

.blog .blog-meta {
    position: relative;
    display: flex;
    margin-bottom: 15px;
}

.blog .blog-meta p {
    margin: 0 10px 0 0;
    font-size: 13px;
}

.blog .blog-meta i {
    color: #414141;
    margin-right: 5px;
}

.blog .blog-meta p:last-child {
    margin: 0;
}


/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    margin-top: 45px;
    background: #EF233C;
}

.footer .container-fluid {
    padding: 60px 0 0 0;
}

.footer .footer-info {
    position: relative;
    width: 100%;
    text-align: center;
}

.footer .footer-info h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

.footer .footer-info h3 {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}

.footer .footer-menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer .footer-menu p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    padding: 0 15px;
    border-right: 1px solid #ffffff;
}

.footer .footer-menu p:last-child {
    border: none;
}

.footer .footer-social {
    position: relative;
    margin-top: 15px;
}

.footer .footer-social a {
    display: inline-block;
}

.footer .footer-social a i {
    margin-right: 15px;
    font-size: 20px;
    color: #ffffff;
    transition: .3s;
}

.footer .footer-social a:last-child i {
    margin: 0;
}

.footer .footer-social a:hover i {
    color: #414141;
}

.footer .copyright {
    position: relative;
    text-align: center;
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer .copyright::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 1px;
    top: 0;
    left: 25%;
    background: rgba(256, 256, 256, .2);
}

.footer .copyright p {
    margin: 0;
    color: #ffffff;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    color: #ffffff;
    font-weight: 600;
}

.footer .copyright p a:hover {
    color: #414141;
}

@media (max-width: 575.98px) {
    .footer .footer-info h2 {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    .footer .footer-info h3 {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .footer .footer-menu p {
        font-size: 16px;
        line-height: 16px;
        padding: 0 5px;
    }
}
.responsive-image-container {
    max-width: 100%;
    height: auto;
  }

  .responsive-image {
    width: 100%;
    height: auto;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}






@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap);


.toggle-code-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: unset;
    padding: 0;
    margin: 0;
    color: #e29ba7
}

.toggle-code-button:hover {
    cursor: pointer;
    color: #f7e6e9
}

.toggle-code-button .part-header {
    margin: 16px 0
}

.toggle-code-button svg {
    margin-left: 8px
}

.toggle-code-content {
    margin-top: 16px
}

.clickable-card-header:not(small) {
    color: #e29ba7;
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.clickable-card-header:not(small) .clickable-header-icon {
    margin-left: auto
}

.clickable-card-header:not(small) small {
    width: 100%
}

.experience {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 32px 0
}

.experience video {
    width: 100%;
    filter: grayscale(.5)
}

.experience button.job-card {
    justify-content: stretch
}

.experience button.job-card:hover {
    cursor: pointer
}

.experience button.job-card:hover video {
    filter: grayscale(0)
}

.experience button.job-card:hover .clickable-card-header {
    color: #f7e6e9
}

.experience .job-card {
    border: none;
    text-align: left;
    color: #fff;
    display: inline-block;
    background-color: #1e1e1e;
    padding: 24px;
    border-radius: 4px;
    font-size: 1rem;
    margin: 8px 0;
    width: 100%;
    line-height: 1.44;
    flex:  1;
}

.experience .job-card .job-card-video {
    position: relative;
    margin-left: -24px;
    margin-top: -24px;
    width: calc(100% + 48px);
    display: inline-flex;
    background-color: #252525;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden
}

.experience .job-card .job-card-video:before {
    content: "";
    -webkit-animation: placeholderAnimate-7f29b621 1s ease-in-out infinite;
    animation: placeholderAnimate-7f29b621 1s ease-in-out infinite;
    background: linear-gradient(90deg, #252525 0, #1e1e1e 50%, #252525);
    display: block;
    height: 100%;
    width: 33%;
    left: 0;
    position: absolute;
    top: 0
}


.experience .job-card h3 {
    font-size: 1.25rem
}

@media(min-width:768px) {
    .experience .job-card h3 {
        font-size: 1.5rem
    }
}

.experience .job-card h3 small {
    display: block;
    font-weight: 400;
    color: #e2f0f0
}

.experience .job-card ul {
    padding: 0;
    list-style: none
}

.experience .job-card ul li {
    margin-bottom: 4px
}

.experience .job-card ul .list-icon {
    font-size: 1.125rem;
    margin-right: 4px
}

.part {
    margin: 0 0 32px 0
}

.part .part-header {
    display: block;
    font-size: 1.125rem
}

@media(min-width:768px) {
    .part .part-header {
        font-size: 1.5rem
    }
}

.part p {
    line-height: 1.44;
    font-size: 1rem
}

@media(min-width:768px) {
    .part p {
        font-size: 1.125rem
    }
}

.portfolio-header {
    display: flex;
    margin-bottom: 16px
}

.portfolio-header .portfolio-close {
    display: inline-flex;
    align-items: center;
    font-size: 1.75rem;
    color: #e29ba7;
    text-decoration: none;
    max-height: 44px;
    font-size: 1.125rem;
    white-space: nowrap
}

@media(min-width:768px) {
    .portfolio-header .portfolio-close {
        font-size: 1.75rem
    }
}

.portfolio-header .portfolio-close small {
    margin-left: 8px;
    line-height: 1.84375
}

.portfolio-header .portfolio-close:hover {
    color: #f7e6e9
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #8bc5bf;
    margin: 0 0 16px 0
}

@media(min-width:786px) {
    .portfolio-top {
        margin: 8px
    }
}

.portfolio-top h2 {
    position: relative;
    top: -56px;
    font-size: 1.125rem;
    margin-bottom: -49px;
    padding: 16px 16px;
    background-color: rgba(30, 30, 30, .8);
    height: 53px
}

@media(min-width:768px) {
    .portfolio-top h2 {
        margin-bottom: -74px;
        top: -72px;
        font-size: 2rem;
        height: 69px
    }
}

.portfolio-top video {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.experience {
    align-items: flex-start
}

.experience .job-card {
    background-color: #232323
}

@-webkit-keyframes unfoldIn-7f29b621 {
    0% {
        overflow: hidden;
        transform: translate(-100%)
    }

    50% {
        overflow: hidden;
        transform: translate(-100%)
    }

    99% {
        overflow: hidden
    }

    to {
        transform: translate(0)
    }
}

@keyframes unfoldIn-7f29b621 {
    0% {
        overflow: hidden;
        transform: translate(-100%)
    }

    50% {
        overflow: hidden;
        transform: translate(-100%)
    }

    99% {
        overflow: hidden
    }

    to {
        transform: translate(0)
    }
}

@-webkit-keyframes unfoldOut-7f29b621 {
    0% {
        transform: translate(0)
    }

    50% {
        transform: translate(0)
    }

    to {
        transform: translate(100%)
    }
}

@keyframes unfoldOut-7f29b621 {
    0% {
        transform: translate(0)
    }

    50% {
        transform: translate(0)
    }

    to {
        transform: translate(100%)
    }
}

.v-enter-active,
.v-leave-active {
    transition: opacity .5s ease-in-out
}

.v-enter-from,
.v-leave-to {
    opacity: 0
}

.slide-fade-enter-active {
    transition: all .3s ease-out
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1, .5, .8, 1)
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translate(20px);
    opacity: 0
}

@-webkit-keyframes show-7f29b621 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes show-7f29b621 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.video-additional-info {
    display: flex;
    position: relative;
    padding: 12px 24px;
    margin-left: -16px;
    margin-right: -32px;
    margin-bottom: -52px;
    left: -8px;
    background-color: rgba(30, 30, 30, .8);
    top: -50px;
    font-size: .875rem
}

.video-additional-info .icon {
    margin-right: 2px
}

.video-additional-info>div {
    margin-right: 16px
}

.content-placeholder {
    position: relative;
    width: 100%;
    display: inline-flex;
    background-color: #252525;
    overflow: hidden
}

.content-placeholder:before {
    content: "";
    -webkit-animation: placeholderAnimate-7f29b621 1s ease-in-out infinite;
    animation: placeholderAnimate-7f29b621 1s ease-in-out infinite;
    background: linear-gradient(90deg, #252525 0, #1e1e1e 50%, #252525);
    display: block;
    height: 100%;
    width: 33%;
    left: 0;
    position: absolute;
    top: 0
}

.content-placeholder img,
.content-placeholder video {
    z-index: 0;
    width: 100%
}

@keyframes placeholderAnimate-7f29b621 {
    0% {
        left: -33%
    }

    to {
        left: 100%
    }
}

.content-wrapper {
    margin: 0 auto
}


.content-wrapper .header-link {
    color: #8bc5bf;
    text-decoration: none
}

.content-wrapper .header {
    position: sticky;
    top: 0;
    background-color: #121212;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: -16px -16px 16px -16px;
    padding: 16px
}

@media(min-width:768px) {
    .content-wrapper .header {
        margin-bottom: 256px;
        flex-direction: row;
        padding: 32px 16px 0 16px;
        margin: -32px -16px 16px -16px
    }
}

.content-wrapper .header h1 {
    font-size: 2rem;
    color: #b7dbd8;
    margin: 0 0 16px 0
}

@media(min-width:768px) {
    .content-wrapper .header h1 {
        font-size: 3rem
    }
}

.content-wrapper .header h1 small {
    margin-top: 4px;
    display: block;
    font-size: 1.125rem;
    font-weight: 400
}

.content-wrapper .header .links {
    display: flex;
    height: 42px
}

.content-wrapper .header .links .link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.8125rem;
    color: #e29ba7;
    margin-right: 16px
}

@media(min-width:768px) {
    .content-wrapper .header .links .link {
        margin-right: 0;
        margin-left: 16px
    }
}

.content-wrapper .header .links .link:hover {
    color: #f7e6e9
}

.content-wrapper .header .links .link.resume {
    flex-direction: row;
    font-size: 18px;
    text-decoration: none;
    border: 2px solid;
    border-radius: 4px;
    padding: 0 8px
}

.content-wrapper .header .links .link.resume .link-icon {
    margin-left: 8px
}

body,
html {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: #e2f0f0;
    background-color: #121212
}

body {
    min-height: 100vh;
    padding: 0;
    min-width: 288px;
    overflow-x: hidden
}

body.modal-active {
    overflow: hidden
}

#app {
    padding: 16px
}

@media(min-width:1200px) {
    #app {
        padding: 32px
    }
}

.url-link {
    color: #e29ba7;
    display: inline-block
}

.url-link:hover {
    color: #f7e6e9
}

.url-link .link-icon {
    text-decoration: none;
    margin-left: 4px
}

.sr-only {
    position: absolute;
    margin: -1px 0 0 -1px;
    padding: 0;
    display: block;
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    outline: 0
}

p {
    margin: 16px 0
}

:focus {
    position: relative;
    outline: none
}

:focus:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4px 6px;
    margin: -4px -6px;
    border: 2px solid #b7dbd8;
    border-radius: 4px
}

.content {
    position: relative;
    opacity: 0;
    -webkit-animation: show-2dd8f34d .5s ease-out forwards;
    animation: show-2dd8f34d .5s ease-out forwards;
    box-sizing:border-box;
}

.toggle-code-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: unset;
    padding: 0;
    margin: 0;
    color: #e29ba7
}

.toggle-code-button:hover {
    cursor: pointer;
    color: #f7e6e9
}

.toggle-code-button .part-header {
    margin: 16px 0
}

.toggle-code-button svg {
    margin-left: 8px
}

.toggle-code-content {
    margin-top: 16px
}

.clickable-card-header:not(small) {
    color: #e29ba7;
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.clickable-card-header:not(small) .clickable-header-icon {
    margin-left: auto
}

.clickable-card-header:not(small) small {
    width: 100%
}

.experience {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 32px 0
}

.experience video {
    width: 100%;
    filter: grayscale(.5)
}

.experience button.job-card {
    justify-content: stretch
}

.experience button.job-card:hover {
    cursor: pointer
}

.experience button.job-card:hover video {
    filter: grayscale(0)
}

.experience button.job-card:hover .clickable-card-header {
    color: #f7e6e9
}

.experience .job-card {
    border: none;
    text-align: left;
    color: #fff;
    display: inline-block;
    background-color: #1e1e1e;
    padding: 24px;
    border-radius: 4px;
    font-size: 1rem;
    margin: 8px 0;
    width: 100%;
    line-height: 1.44
}

.experience .job-card .job-card-video {
    position: relative;
    margin-left: -24px;
    margin-top: -24px;
    width: calc(100% + 48px);
    display: inline-flex;
    background-color: #252525;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden
}

.experience .job-card .job-card-video:before {
    content: "";
    -webkit-animation: placeholderAnimate-2dd8f34d 1s ease-in-out infinite;
    animation: placeholderAnimate-2dd8f34d 1s ease-in-out infinite;
    background: linear-gradient(90deg, #252525 0, #1e1e1e 50%, #252525);
    display: block;
    height: 100%;
    width: 33%;
    left: 0;
    position: absolute;
    top: 0
}

@-webkit-keyframes placeholderAnimate-2dd8f34d {
    0% {
        left: -33%
    }

    to {
        left: 100%
    }
}

@media(min-width:768px) {
    .experience .job-card {
        margin: 8px;
        font-size: 1.125rem;
        width: calc(50% - 16px)
    }
}

.experience .job-card h3 {
    font-size: 1.25rem
}

@media(min-width:768px) {
    .experience .job-card h3 {
        font-size: 1.5rem
    }
}

.experience .job-card h3 small {
    display: block;
    font-weight: 400;
    color: #e2f0f0
}

.experience .job-card ul {
    padding: 0;
    list-style: none
}

.experience .job-card ul li {
    margin-bottom: 4px
}

.experience .job-card ul .list-icon {
    font-size: 1.125rem;
    margin-right: 4px
}

.part {
    margin: 0 0 32px 0
}

.part .part-header {
    display: block;
    font-size: 1.125rem
}

@media(min-width:768px) {
    .part .part-header {
        font-size: 1.5rem
    }
}

.part p {
    line-height: 1.44;
    font-size: 1rem
}

@media(min-width:768px) {
    .part p {
        font-size: 1.125rem
    }
}

.portfolio-header {
    display: flex;
    margin-bottom: 16px
}

.portfolio-header .portfolio-close {
    display: inline-flex;
    align-items: center;
    font-size: 1.75rem;
    color: #e29ba7;
    text-decoration: none;
    max-height: 44px;
    font-size: 1.125rem;
    white-space: nowrap
}

@media(min-width:768px) {
    .portfolio-header .portfolio-close {
        font-size: 1.75rem
    }
}

.portfolio-header .portfolio-close small {
    margin-left: 8px;
    line-height: 1.84375
}

.portfolio-header .portfolio-close:hover {
    color: #f7e6e9
}

h2 {
    font-size: 2rem;
    color: #8bc5bf;
    margin: 0 0 16px 0
}

@media(min-width:786px) {
    .portfolio-top {
        margin: 8px
    }
}

.portfolio-top h2 {
    position: relative;
    top: -56px;
    font-size: 1.125rem;
    margin-bottom: -49px;
    padding: 16px 16px;
    background-color: rgba(30, 30, 30, .8);
    height: 53px
}

@media(min-width:768px) {
    .portfolio-top h2 {
        margin-bottom: -74px;
        top: -72px;
        font-size: 2rem;
        height: 69px
    }
}

.portfolio-top video {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.experience {
    align-items: flex-start
}

.experience .job-card {
    background-color: #232323
}

@-webkit-keyframes unfoldIn-2dd8f34d {
    0% {
        overflow: hidden;
        transform: translate(-100%)
    }

    50% {
        overflow: hidden;
        transform: translate(-100%)
    }

    99% {
        overflow: hidden
    }

    to {
        transform: translate(0)
    }
}

@keyframes unfoldIn-2dd8f34d {
    0% {
        overflow: hidden;
        transform: translate(-100%)
    }

    50% {
        overflow: hidden;
        transform: translate(-100%)
    }

    99% {
        overflow: hidden
    }

    to {
        transform: translate(0)
    }
}

@-webkit-keyframes unfoldOut-2dd8f34d {
    0% {
        transform: translate(0)
    }

    50% {
        transform: translate(0)
    }

    to {
        transform: translate(100%)
    }
}

@keyframes unfoldOut-2dd8f34d {
    0% {
        transform: translate(0)
    }

    50% {
        transform: translate(0)
    }

    to {
        transform: translate(100%)
    }
}

.v-enter-active,
.v-leave-active {
    transition: opacity .5s ease-in-out
}

.v-enter-from,
.v-leave-to {
    opacity: 0
}

.slide-fade-enter-active {
    transition: all .3s ease-out
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1, .5, .8, 1)
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translate(20px);
    opacity: 0
}

@-webkit-keyframes show-2dd8f34d {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes show-2dd8f34d {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.video-additional-info {
    display: flex;
    position: relative;
    padding: 12px 24px;
    margin-left: -16px;
    margin-right: -32px;
    margin-bottom: -52px;
    left: -8px;
    background-color: rgba(30, 30, 30, .8);
    top: -50px;
    font-size: .875rem
}

.video-additional-info .icon {
    margin-right: 2px
}

.video-additional-info>div {
    margin-right: 16px
}

.content-placeholder {
    position: relative;
    width: 100%;
    display: inline-flex;
    background-color: #252525;
    overflow: hidden
}

.content-placeholder:before {
    content: "";
    -webkit-animation: placeholderAnimate-2dd8f34d 1s ease-in-out infinite;
    animation: placeholderAnimate-2dd8f34d 1s ease-in-out infinite;
    background: linear-gradient(90deg, #252525 0, #1e1e1e 50%, #252525);
    display: block;
    height: 100%;
    width: 33%;
    left: 0;
    position: absolute;
    top: 0
}

.content-placeholder img,
.content-placeholder video {
    z-index: 0;
    width: 100%
}

@keyframes placeholderAnimate-2dd8f34d {
    0% {
        left: -33%
    }

    to {
        left: 100%
    }
}

.about-information {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px
}

@media(min-width:768px) {
    .about-information {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 28vh;
        padding-top: 32px
    }
}

.about-information .profile-image {
    border: 4px solid #e29ba7;
    max-width: 248px;
    border-radius: 50%;
    filter: grayscale(60%);
    margin: 0 auto 48px auto
}

@media(min-width:768px) {
    .about-information .profile-image {
        margin-bottom: 0;
        margin-right: 48px
    }
}

.about-information .about-text {
    color: #edc1c9;
    margin: 0;
    font-size: 1.5rem
}

@media(min-width:768px) {
    .about-information .about-text {
        font-weight: 300;
        font-size: 2rem
    }
}

@media(min-width:1200px) {
    .about-information .about-text {
        font-size: 2.5rem
    }
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #b7dbd8;
    margin: 16px 0
}

@media(min-width:768px) {
    h2 {
        font-size: 2rem;
        margin: 16px 0
    }
}

.badge-list {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 12px 0 12px;
    margin-bottom: 32px
}

@media(min-width:768px) {
    .badge-list {
        padding: 8px 46px 0 46px
    }
}

.badge-list .badge {
    font-size: 1.125rem;
    font-weight: 500;
    color: #000;
    list-style: none;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #e29ba7;
    color: #e29ba7;
    margin: 0 4px;
    white-space: nowrap;
    margin-bottom: 16px
}

.information-section {
    position: relative;
    background: #b7dbd8;
    margin-bottom: 8px;
    color: #121212;
    padding: 16px 32px;
    margin-left: -16px;
    margin-right: -16px
}

@media(min-width:768px) {
    .information-section {
        background: unset
    }

    .information-section:after {
        content: "";
        position: absolute;
        top: 0;
        left: calc(-50vw + 50%);
        width: 100vw;
        height: 100%;
        background: #b7dbd8;
        z-index: -1
    }
}

@media(min-width:1200px) {
    .information-section {
        padding-top: 32px;
        padding-bottom: 32px
    }
}

.information-section .information-header {
    color: #121212
}

.information-section .information-text {
    font-size: 1rem;
    line-height: 1.44;
    padding: 0
}

@media(min-width:768px) {
    .information-section .information-text {
        padding: 0 32px;
        font-size: 1.5rem
    }
}

@-webkit-keyframes placeholderAnimate {
    0% {
        left: -33%
    }

    to {
        left: 100%
    }
}

@-webkit-keyframes unfoldIn {
    0% {
        overflow: hidden;
        transform: translate(-100%)
    }

    50% {
        overflow: hidden;
        transform: translate(-100%)
    }

    99% {
        overflow: hidden
    }

    to {
        transform: translate(0)
    }
}

@-webkit-keyframes unfoldOut {
    0% {
        transform: translate(0)
    }

    50% {
        transform: translate(0)
    }

    to {
        transform: translate(100%)
    }
}

@-webkit-keyframes show {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

body,
html {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: #e2f0f0;
    background-color: #121212
}

body {
    min-height: 100vh;
    padding: 0;
    min-width: 288px;
    overflow-x: hidden
}

body.modal-active {
    overflow: hidden
}

#app {
    padding: 16px
}

@media(min-width:1200px) {
    #app {
        padding: 32px
    }
}

.url-link {
    color: #e29ba7;
    display: inline-block
}

.url-link:hover {
    color: #f7e6e9
}

.url-link .link-icon {
    text-decoration: none;
    margin-left: 4px
}

.sr-only {
    position: absolute;
    margin: -1px 0 0 -1px;
    padding: 0;
    display: block;
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    outline: 0
}

p {
    margin: 16px 0
}
.box_info {
    box-sizing: border-box
}

:focus {
    position: relative;
    outline: none
}

:focus:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4px 6px;
    margin: -4px -6px;
    border: 2px solid #b7dbd8;
    border-radius: 4px
}

.content {
    position: relative;
    opacity: 0;
    -webkit-animation: show .5s ease-out forwards;
    animation: show .5s ease-out forwards;
   
}

.toggle-code-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: unset;
    padding: 0;
    margin: 0;
    color: #e29ba7
}

.toggle-code-button:hover {
    cursor: pointer;
    color: #f7e6e9
}

.toggle-code-button .part-header {
    margin: 16px 0
}

.toggle-code-button svg {
    margin-left: 8px
}

.toggle-code-content {
    margin-top: 16px
}

.clickable-card-header:not(small) {
    color: #e29ba7;
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.clickable-card-header:not(small) .clickable-header-icon {
    margin-left: auto
}

.clickable-card-header:not(small) small {
    width: 100%
}

.experience {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 32px 0px;
    flex: 1;
}

.experience video {
    width: 100%;
    filter: grayscale(.5)
}

.experience button.job-card {
    justify-content: stretch
}

.experience button.job-card:hover {
    cursor: pointer
}

.experience button.job-card:hover video {
    filter: grayscale(0)
}

.experience button.job-card:hover .clickable-card-header {
    color: #f7e6e9
}

.experience .job-card {
    border: none;
    text-align: left;
    color: #fff;
    display: inline-block;
    background-color: #1e1e1e;
    padding: 24px;
    border-radius: 4px;
    font-size: 1rem;
    margin: 8px 0;
    width: 100%;
    line-height: 1.44
}

.experience .job-card .job-card-video {
    position: relative;
    margin-left: -24px;
    margin-top: -24px;
    width: calc(100% + 48px);
    display: inline-flex;
    background-color: #252525;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden
}

.experience .job-card .job-card-video:before {
    content: "";
    -webkit-animation: placeholderAnimate 1s ease-in-out infinite;
    animation: placeholderAnimate 1s ease-in-out infinite;
    background: linear-gradient(90deg, #252525 0, #1e1e1e 50%, #252525);
    display: block;
    height: 100%;
    width: 33%;
    left: 0;
    position: absolute;
    top: 0
}

@media(min-width:768px) {
    .experience .job-card {
        margin: 8px;
        font-size: 1.125rem;
        width: calc(50% - 16px)
    }
}

.experience .job-card h3 {
    font-size: 1.25rem
}

@media(min-width:768px) {
    .experience .job-card h3 {
        font-size: 1.5rem
    }
}

.experience .job-card h3 small {
    display: block;
    font-weight: 400;
    color: #e2f0f0
}

.experience .job-card ul {
    padding: 0;
    list-style: none
}

.experience .job-card ul li {
    margin-bottom: 4px
}

.experience .job-card ul .list-icon {
    font-size: 1.125rem;
    margin-right: 4px
}

.part {
    margin: 0 0 32px 0
}

.part .part-header {
    display: block;
    font-size: 1.125rem
}

@media(min-width:768px) {
    .part .part-header {
        font-size: 1.5rem
    }
}

.part p {
    line-height: 1.44;
    font-size: 1rem
}

@media(min-width:768px) {
    .part p {
        font-size: 1.125rem
    }
}

.portfolio-header {
    display: flex;
    margin-bottom: 16px
}

.portfolio-header .portfolio-close {
    display: inline-flex;
    align-items: center;
    font-size: 1.75rem;
    color: #e29ba7;
    text-decoration: none;
    max-height: 44px;
    font-size: 1.125rem;
    white-space: nowrap
}

@media(min-width:768px) {
    .portfolio-header .portfolio-close {
        font-size: 1.75rem
    }
}

.portfolio-header .portfolio-close small {
    margin-left: 8px;
    line-height: 1.84375
}

.portfolio-header .portfolio-close:hover {
    color: #f7e6e9
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #8bc5bf;
    margin: 0 0 16px 0
}

@media(min-width:786px) {
    .portfolio-top {
        margin: 8px
    }
}

.portfolio-top h2 {
    position: relative;
    top: -56px;
    font-size: 1.125rem;
    margin-bottom: -49px;
    padding: 16px 16px;
    background-color: rgba(30, 30, 30, .8);
    height: 53px
}

@media(min-width:768px) {
    .portfolio-top h2 {
        margin-bottom: -74px;
        top: -72px;
        font-size: 2rem;
        height: 69px
    }
}

.portfolio-top video {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.experience {
    align-items: flex-start
}

.experience .job-card {
    background-color: #232323
}

@keyframes unfoldIn {
    0% {
        overflow: hidden;
        transform: translate(-100%)
    }

    50% {
        overflow: hidden;
        transform: translate(-100%)
    }

    99% {
        overflow: hidden
    }

    to {
        transform: translate(0)
    }
}

@keyframes unfoldOut {
    0% {
        transform: translate(0)
    }

    50% {
        transform: translate(0)
    }

    to {
        transform: translate(100%)
    }
}

.v-enter-active,
.v-leave-active {
    transition: opacity .5s ease-in-out
}

.v-enter-from,
.v-leave-to {
    opacity: 0
}

.slide-fade-enter-active {
    transition: all .3s ease-out
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1, .5, .8, 1)
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translate(20px);
    opacity: 0
}

@keyframes show {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.video-additional-info {
    display: flex;
    position: relative;
    padding: 12px 24px;
    margin-left: -16px;
    margin-right: -32px;
    margin-bottom: -52px;
    left: -8px;
    background-color: rgba(30, 30, 30, .8);
    top: -50px;
    font-size: .875rem
}

.video-additional-info .icon {
    margin-right: 2px
}

.video-additional-info>div {
    margin-right: 16px
}

.content-placeholder {
    position: relative;
    width: 100%;
    display: inline-flex;
    background-color: #252525;
    overflow: hidden
}

.content-placeholder:before {
    content: "";
    -webkit-animation: placeholderAnimate 1s ease-in-out infinite;
    animation: placeholderAnimate 1s ease-in-out infinite;
    background: linear-gradient(90deg, #252525 0, #1e1e1e 50%, #252525);
    display: block;
    height: 100%;
    width: 33%;
    left: 0;
    position: absolute;
    top: 0
}

.content-placeholder img,
.content-placeholder video {
    z-index: 0;
    width: 100%
}

@keyframes placeholderAnimate {
    0% {
        left: -33%
    }

    to {
        left: 100%
    }
}
.linkText{
    display: block;
    font-weight: 400;
    color: #e2f0f0
}
.popupInfoText{
    display: block;
    font-weight: 400;
    font-size: 16px;
    color: #c2c2c2
}
.popupInfoTitle{
    display: block;
    font-weight: 400;
    font-size: 40px;
    color: #ffffff
}